
th.h{
	font-family:Georgia, serif;
	font-size: 24px;
	color: #CC0000;
	padding-bottom:30px;
	padding-top:20px;
	padding-left:20px;
	text-align:left;
	letter-spacing: -1px
}

a {
    background-color: #FFCC22;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
 
}

